<div class="navbar fixed top-0 left-0bg-base-100">
  <div class="flex-1">
    <%= link_to "BluePrint", root_path, class:"text-xl text-primary font-semibold ms-1" %>  </div>
  <div class="flex-none">
    <% if user_signed_in? %>
			<%= link_to "Logout", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "btn btn-primary btn-outline" %>
	  <% else %>
      <%= link_to "Login", new_user_session_path, class:"btn btn-primary btn-outline mx-2" %>
      <%= link_to "Sign up", new_user_registration_path, class:"btn btn-primary" %>
		<% end %>
  </div>
</div>