<div class="navbar fixed top-0 left-0bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl text-white">Music Template</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a class="btn btn-outline text-white mx-3 hover:text-primary">Login</a></li>
      <li><a class= "btn btn-primary border-none">Sign Up</a></li>
    </ul>
  </div>
</div>