<div
  class="hero h-screen bg-cover bg-center bg-no-repeat"
  style="background-image: url('<%= image_path('hero-image.jpg') %>')">
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">From Idea to Arrangement. Effortlessly.</h1>
      <p class="mb-5">
        Instantly generate song arrangements tailored to your sound so you can create more finished tracks.
      </p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
